
    <div class="prueba">
    
    <article id="node-{{ node.id }}" {{ attributes }}>
    
      {{ title_prefix }}
      {% if not page %}
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}
    
      {% if display_submitted %}
        <div class="posted">
          {{ author_picture }}
          <div{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
            {{ metadata }}
          </div>
        </div>
      {% endif %}
    
      {# We hide the comments and links now so that we can render them later. #}
      <div{{ content_attributes }}>
        {{ content|without('comment', 'links', 'field_tags') }}
      </div>
    
      {% if content.field_tags|length and not is_front %}
        {{ content.field_tags }}
      {% endif %}
    
      {{ content.links }}
      {{ content.comment }}
    </article>

  </div>
    