
  <div class="layout-container">
    
    <!-- Start: Header -->
    <div class="header">
      {% if page.header %}
      {{ page.header }}
      {% endif %}
    </div> 
    <!-- End: Header -->
  </div>

<br>

    <!--Start: Highlighted -->
    {% if page.highlighted %}
      <div class="highlighted">
        <div class="container">
          {{ page.highlighted }}
        </div>
      </div>
    {% endif %}
    <!--End: Highlighted -->

<br>

    <!--Start: Title -->
    {%  if page.page_title and not is_front %}
      <div id="page-title">
        <div id="page-title-inner">
          <div class="container">
            {{ page.page_title }}
          </div>
        </div>
      </div>
    {% endif %}
    <!--End: Title -->

<br>

    <!--- Start Content -->
    {% if page.content %}
      <div>
        <main role="main">
          <a id="main-content"></a>
          <div class="layout-content">
            {{ page.content }}
          </div>
        </main>
      </div> 
    {% endif %}
    <!-- End: Content -->

<br>

    <!--- Start: Left SideBar -->
      {% if page.sidebar_first %}
        <div class={{sidebarfirst}}>
          <div class="sidebar">
            {{ page.sidebar_first }}
          </div>
        </div>
      {% endif %}
    <!-- End Left SideBar -->

<br>

    <!-- Start: Right SideBar -->
      {% if page.sidebar_second %}
        <div class={{sidebarsecond}}>
          <div class="sidebar">
            {{ page.sidebar_second }}
          </div>
        </div>
      {% endif %}
    <!-- End: Right SideBar -->

<br>

{% if page.footer_first or page.footer_second or page.footer_third %}

<div class="footer" id="footer">
  <div class="container">
    <div class="parallax-region wow- bounceInUp">  
      <div class="row">

        <!-- Start: Footer First -->
        {% if page.footer_first %}
          <div class = {{ footer_class }}>
            {{ page.footer_first }}
          </div>
        {% endif %}
        <!-- End: Footer First -->

<br>

        <!-- Start :Footer Second -->
        {% if page.footer_second %}
          <div class = {{ footer_class }}>
            {{ page.footer_second }}
          </div>
        {% endif %}
        <!-- End: Footer Second -->

<br>

        <!-- Start: Footer third -->
        {% if page.footer_third %}
          <div class = {{ footer_last_class }}>
            {{ page.footer_third }}
          </div>
        {% endif %}
        <!-- End: Footer Third -->

      </div>
    </div>
  </div>
</div>

{% endif %}





